/* Definicion de colores que se usaran varias veces */

:root {
  --main-black: #0f1618;
  --main-red: #dc191b;
  --ligth-red: #e63f41;
  --main-white: #fff;
  --main-grey: #ededed;
}

/* Fuentes */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins&display=swap");

/* Reseteo propiedades por defecto y fuente */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Noto Sans", sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

/* Inicio estilos index */

#index-body {
  background-color: white;
}

#menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem;
}

#menu {
  background-color: rgba(0, 0, 0, 0.5);
}

#menuIzquierda {
  display: flex;
  align-items: center;
}

#menuDerecha {
  display: flex;
  align-items: center;
}

.elementoMenu {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

#menuDerecha a {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.35rem;
  border-radius: 0.4rem;
  color: black;
}

#h3Menu {
  color: black;
}

#logoHeader {
  width: 50px;
  height: 50px;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 105%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  z-index: -2;
}
/* Fin estilos index */

/* Inicio estilos login */

#containerForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 400px;
  border-radius: 6px;
  background-color: var(--main-grey);
}

.formFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 72px;
}

.formBackToIndex {
  margin-top: 28px;
  margin-bottom: 16px;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 28px;
}

.elementoForm {
  margin-bottom: 18px;
  padding: 8px;
  background-color: var(--main-white);
  color: var(--main-black);
  border-radius: 8px;
  border-color: var(--main-black);
}

.btnForm {
  margin-top: 8px;
  padding: 9px;
  border-radius: 14px;
  border: none;
  background-color: var(--main-red);
  color: var(--main-white);
}

.btnForm:hover {
  background-color: var(--ligth-red);
}
.cambioForm {
  margin-top: 32px;
}

.cambioForm a {
  color: #0095f6;
}
/* Fin estilos login */
