/* Definicion de colores que se usaran varias veces */

:root {
  --main-black: #0f1618;
  --main-red: #dc191b;
  --ligth-red: #e63f41;
  --main-white: #fff;
  --main-grey: #ededed;
}

/* Fin definicion de variables */

/* Inicio fuentes */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins&display=swap");

/* Fin fuentes */

/* Inicio estilo botones */

button {
  margin-top: 8px;
  padding: 9px;
  border-radius: 14px;
  border: none;
  background-color: var(--main-red);
  color: var(--main-white);
}

button:hover {
  background-color: var(--ligth-red);
}

/* Final estilo botones */

/* Reseteo propiedades por defecto y fuente */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Noto Sans", sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

/* Inicio estilos index */

#index-body {
  background-color: var(--main-white);
}

#menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}

#menu {
  background-color: var(--main-black);
}

#menuIzquierda {
  display: flex;
  align-items: center;
}

#menuDerecha {
  display: flex;
  align-items: center;
}

.elementoMenu {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

#menuDerecha a {
  padding: 9px;
  border-radius: 14px;
  border: none;
  background-color: var(--main-red);
  color: var(--main-white);
}

#menuDerecha a:hover {
  background-color: var(--ligth-red);
}

#h3Menu {
  color: var(--main-white);
}

#logoHeader {
  width: 50px;
  height: 50px;
}

#index-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
  width: 100%;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.18);
  color: var(--main-white);
}

video {
  position: fixed;
  top: 164px;
  width: 100%;
  height: 400px;
  object-fit: cover;
  z-index: -2;
}

/* Fin estilos index */

/* Inicio estilos login y register*/

#containerFormLogin {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 400px;
  border-radius: 6px;
  background-color: var(--main-grey);
}

#containerFormRegister {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 560px;
  border-radius: 6px;
  background-color: var(--main-grey);
}

.formFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 72px;
}

.backToIndex {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--main-black);
}

.h3Login {
  margin-top: 28px;
  margin-bottom: 16px;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 28px;
}

.elementoForm {
  width: 200px;
  margin-bottom: 18px;
  padding: 8px;
  background-color: var(--main-white);
  color: var(--main-black);
  border-radius: 8px;
  border-color: var(--main-black);
}

.cambioForm {
  margin-top: 32px;
}

.cambioForm a {
  color: #0095f6;
}
.cambioForm a:hover {
  color: #29a9ff;
}

/* Fin estilos login y register*/
